/**
* App classes
*/
#app {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}
/**
* Logo animation classes
*/
.st0 {
	fill: #1d458e;
	fill-opacity: 0;
	animation-name: FillIn;
	animation-duration: 1s;
	animation-delay: 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st1 {
	fill: #1e448f;
	fill-opacity: 0;
	animation-name: FillIn;
	animation-duration: 1s;
	animation-delay: 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st2 {
	fill: url(#SVGID_2_);
	stroke: #fff;
	stroke-width: 0.25;
	stroke-miterlimit: 10;
	fill-opacity: 0;
	stroke-dashArray: 817.1482543945312;
	stroke-dashoffset: 817.1482543945312;
	animation-name: draw, FillIn;
	animation-duration: 3s, 1s;
	animation-delay: 0s, 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st3 {
	fill: #ffffff;
	fill-opacity: 0;
	stroke: #fff;
	stroke-width: 0.10;
	stroke-dashArray: 1650.0966452360153198;
	stroke-dashoffset: 1650.0966452360153198;
	animation-name: draw, FillIn;
	animation-duration: 3s, 1s;
	animation-delay: 3s, 5.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st4 {
	fill: #6999d1;
	fill-opacity: 0;
	animation-name: FillIn;
	animation-duration: 1s;
	animation-delay: 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st5 {
	fill: #699ad1;
	fill-opacity: 0;
	animation-name: FillIn;
	animation-duration: 1s;
	animation-delay: 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st6 {
	fill: url(#SVGID_1_);
	stroke: #7ab5e3;
	stroke-width: 0.25;
	stroke-miterlimit: 10;
	fill-opacity: 0;
	stroke-dashArray: 984.724365234375;
	stroke-dashoffset: 984.724365234375;
	animation-name: draw, FillIn;
	animation-duration: 3s, 1s;
	animation-delay: 0s, 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
.st7 {
	fill: url(#SVGID_3_);
	fill-opacity: 0;
	stroke: #79b6e3;
	stroke-width: 0.50;
	stroke-miterlimit: 0;
	stroke-dashArray: 578.0175170898438;
	stroke-dashoffset: 578.0175170898438;
	animation-name: draw, FillIn;
	animation-duration: 3s, 1s;
	animation-delay: 0s, 3.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes FillIn {
	from {
		fill-opacity: 0;
	}
	to {
		fill-opacity: 1;
	}
}